#copywrite{
    position:fixed;
    bottom: 20px;
    color: white;
}

/* ====TEXT==== */
body{
    background-color: black;
    text-align: center;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    padding: 50px;
    color: white;
}

#construction{
    padding-top: 10%;
    color: yellow;
    text-align: center;
}

/* ====IMAGES==== */
#ig_brand{
    height: 30px;
    width: 30px;
}
